.popup-ticket__one-full {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100vw / (1200 / 169));
  height: calc(100vw / 10);
  background-color: #39B3D8;
  border-radius: calc(100vw / 120);
  color: #F9F9F9;
  margin: calc(100vw / (1200 / 13)) 0 0;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .popup-ticket__one-full {
    width: 169px;
    height: 120px;
    border-radius: 10px;
    margin: 13px 0 0;
  }
}
