.popup-start__title {
  width: 60%;
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 50);
  line-height: 1.17;
  text-align: center;
  cursor: default;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .popup-start__title {
    font-size: 24px;
  }
}
