.popup-date__calendar {
  width: calc(100vw / (1200 / 321));
  margin: calc(100vw / (1200 / 29)) 0 0;
  background-color: #E6E7E9;
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / (1200 / 18));
  line-height: 1.17;
  text-align: center;
  color: #000000;
  border-radius: calc(100vw / 120);
}

@media screen and (min-width: 1200px){
  .popup-date__calendar {
    width: 321px;
    margin: 29px 0 0;
    font-size: 18px;
    border-radius: 10px;
  }
}
