.popup-to-be-paid__total {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / (1200 / 30));
  line-height: 1.17;
  text-align: right;
}

@media screen and (min-width: 1200px){
  .popup-to-be-paid__total {
    font-size: 30px;
  }
}
