.popup-to-be-paid__confirm {
  width: calc(100vw / (1200 / 139));
  background-color: #8CBB37;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(100vw / (1200 / 18));
  line-height: 1.17;
}

@media screen and (min-width: 1200px){
  .popup-to-be-paid__confirm {
    width: 139px;
    font-size: 18px;
  }
}
