.popup-to-be-paid__footer {
  display: flex;
  justify-content: space-between;
  width: calc(100vw / (1200 / 658));

}

@media screen and (min-width: 1200px){
  .popup-to-be-paid__footer {
    width: 658px;
  }
}
