.popup-to-be-paid__content {
  background-color: #fff;
  width: calc(100vw / (1200 / 660));
  height: calc(100vw / (1200 / 317));
  border: calc(100vw / 240) solid #145799;
  border-radius: calc(100vw / 120);
  padding: calc(100vw / (1200 / 24)) calc(100vw / (1200 / 34));

}

@media screen and (min-width: 1200px){
  .popup-to-be-paid__content {
    width: 660px;
    height: 317px;
    border: 5px solid #145799;
    border-radius: 10px;
    padding: 24px 34px;
  }
}
