.popup-ticket__one-full-text {
  margin: 0 0 calc(100vw / (1200 / 26)) 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / (1200 / 18));
  line-height: 1.17;
  text-indent: 0;
  text-align: center;
}

@media screen and (min-width: 1200px){
  .popup-ticket__one-full-text {
    margin: 0 0 26px 0;
    font-size: 18px;
  }
}
