.popup-start__footer {
  width: 60%;
  background-color: #D75454;
  border-radius: 10px;
  padding: calc(100vw / (1200 / 14)) 0;
  margin:0 auto;
}

@media screen and (min-width: 1200px){
  .popup-start__footer {
    padding:14px 0;
  }
}
