.popup-date__radio-input {
  display: none;
}

.popup-date__radio-input:checked + .popup-date__radio-button {
  color: #fff;
}

.popup-date__radio-input:checked + .popup-date__radio-button::before {
  background-color: #145799;
}

.popup-date__radio-input:disabled + .popup-date__radio-button::before {
  background: #C8C8C8;
}



