.popup-ticket__pricing-plans-text {
  text-align: center;
  margin: calc(100vw / (1200 / 8)) 0 calc(100vw / 300);
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / (1200 / 18));
  line-height: 1.17;
  text-indent: 0;
}

@media screen and (min-width: 1200px){
  .popup-ticket__pricing-plans-text {
    margin: 8px 0 4px;
    font-size: 18px;
  }
}
