.popup-to-be-paid__parameters {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / (1200 / 24));
  line-height: 1.17;
  color: #6C6C6C;
  margin: calc(100vw / 100) 0 0;
}

@media screen and (min-width: 1200px){
  .popup-to-be-paid__parameters {
    margin: 12px 0 0;
    font-size: 24px;
  }
}
