.popup-cities__next {
  color: #E9E9E9;
  background-color: #D75454;
  padding: 0 calc(100vw / (1200 / 18));
  margin-right: calc(100vw / (1200 / 64));
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(100vw / (1200 / 18));
  line-height: 1.17;
}

@media screen and (min-width: 1200px){
  .popup-cities__next {
    padding: 0 18px;
    margin-right: 64px;
    font-size: 18px;
  }
}
